html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
	overflow: hidden;
	background-color: #090909;
}
.logo {
    position: fixed;
    z-index: 10;
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
    font-size: 36px;
    line-height: 53px;
    left: 20px;
    top: 20px;
    pointer-events: none
}
.logoLeft {
    background: rgba(232, 46, 46, 0.8);
    backdrop-filter: blur(4px);
    opacity: 0.85;
    display: inline-block;
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: 53px;
    color: #FFFFFF;
    padding: 2px 8px;
    float: left;
}

.logoRight {
    display: inline-block;
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: 53px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    color: #FFFFFF;
    padding: 2px 8px;
    float: left;
}
@media screen and (max-width: 650px){
    .logo{
        top: 15px;
        left: 15px;
    }
}

#map {
    height: 100%;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.info {
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
    position: fixed;
    bottom: 18px;
    left: 31px;
    z-index: 10;
    pointer-events: none;
    display: none;
}

.infoPlaceName {
    background-color: rgba(232, 46, 46, 0.9);
    backdrop-filter: blur(4px);
    padding: 2px 7px;
    width: max-content;
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;

    font-size: 36px;
    line-height: 53px;
    color: white;
}

.casesContainer {
    display: inline-block;
    vertical-align: bottom;
}

.infectedContainer {
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
    margin-bottom: 13px;
}

.infectedCount {
    font-weight: bold;
    font-size: 144px;
    line-height: 160px;
    color: #E82E2E;

    text-shadow: 0px 0px 10px #000000;
}

.infectedTitle {
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px #000000;
}

.deadContainer {
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
    margin-left: 23px;
}

.deadCount {
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    display: inline-block;
    color: #E82E2E;
    text-shadow: 0px 0px 10px #000000;
}

.deadTitle {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: inline-block;
    text-shadow: 0px 0px 10px #000000;
}

.recoveredContainer {
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
    margin-left: 33px;
}

.recoveredCount {
    position: static;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    display: inline-block;
    color: #0BC534;
    text-shadow: 0px 0px 10px #000000;
}

.recoveredTitle {
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: inline-block;
    text-shadow: 0px 0px 10px #000000;
}
.casesCasesContainer{
    display: inline-block;
}
@media screen and (max-width: 1000px){

    .casesCasesContainer{
        display: block;
    }
    .deadContainer {
        margin-left: 0px;
    }
}
@media screen and (max-width: 650px), screen and (max-height: 500px){
    .casesCasesContainer{
        display: block;
    }
    .info{
        left: 12px;
        bottom: 10px;
    }
    .infoPlaceName{
        font-size: 20px;
        line-height: 37px;
    }
    .infectedContainer {
        margin-bottom: 0px;
    }
    .infectedCount {
        font-size: 72px;
        line-height: 82px;
        text-shadow: 0px 0px 5px #000000;
    }
    .infectedTitle {
        font-size: 20px;
        line-height: 37px;
    }
    .deadContainer {
        margin-left: 0px;
    }
    .deadCount {
        font-size: 47px;
        line-height: 60px;
        text-shadow: 0px 0px 5px #000000;
    }
    .deadTitle {
        font-size: 16px;
        line-height: 26px;
    }
    .recoveredContainer {
        margin-left: 11px;
    }
    .recoveredCount {
        font-size: 47px;
        line-height: 60px;
        text-shadow: 0px 0px 5px #000000;
    }
    .recoveredTitle {
        font-size: 16px;
        line-height: 26px;
    }

    .logo{
        font-size: 30px;
        line-height: 46px;
    }
    .logoLeft{
        height: 50px;
    }
    .logoRight{
        height: 50px;
    }
}

.footer{
    position: fixed;
    z-index: 10;
    bottom: 5px;
    color: white;
    font-size: 13px;
}
.footer_left{
    left: 31px;
}
.footer_right{
    right: 215px;
}

.footer_small{
    bottom: 9px;
    right: 308px;
    position: fixed;
    font-size: 7px;
	background-color: white;
    padding-right: 1px;
    border-radius: 2px;
	color: black;
	z-index: 11;
}
.infoButton{
	height: 10px;
    width: 10px;
    text-align: center;
    font-weight: bold;
	cursor: pointer;
}
.infoText > a {
    color: black;
    text-shadow: none;
}

.infoTextClose {
	height: 10px;
    width: 10px;
    text-align: center;
	cursor: pointer;
    display: inline-block;
}
@media screen and (max-width: 600px){
    .footer{
        font-size: 12px;
    }
}
@media screen and (max-width: 650px){
    .footer {
        font-size: 10px;
        bottom: 2px;
    }
    .footer_left{
        left: 12px;
    }
    .footer_right{
        right: 10px;
    }
	.footer_small{
		right: 85px;
		bottom: 4px;
	}
}

#colors{
    display: none;
    position: fixed;
    width: 128px;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
    padding: 5px;
    background-color: black;
    border: 1px solid red;
    color: white;
    font-size: 13px;
    pointer-events: none;
    font-family: Roboto, Arial, sans-serif;

    z-index: 10;
    right: 10px;
    bottom: 15px;
}
.color{
    height: 13px;
    width: 13px;
    display: inline-block;
    vertical-align: middle;
}
.colorContainer{
    text-align: left;
    padding: 1px 0;
    height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
.colorText{
    display: inline-block;
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    margin-left: 2px;
    vertical-align: middle;
}
.colorTitle{
    text-align: center;
    margin-bottom: 4px;
}

@media screen and (max-width: 650px){
        #colors{
            bottom: unset;
            top: 15px;
            right: 15px;
    }
}

a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 2px #000000;
}
a:hover{
    text-decoration: underline;
}

.ol-control button{
    width: 40px;
    height: 40px;
    margin: 0px;
    background: none;
    color: #666666;
    font-size: 30px;
}
.ol-control button:focus, .ol-control button:hover{
    color: #333333;
    background-color: white;
}
.ol-control{
    padding: 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.ol-control:hover{
    background-color: white;
}
.ol-control.ol-attribution{
    display: none;
}
.ol-control.ol-zoom{
    top: unset;
    left: unset;
    right: 160px;
    bottom: 15px;
}
.ol-overlay-container.ol-selectable{
    width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
@media screen and (max-width: 650px){
    .ol-control.ol-zoom{
        right:10px;
        bottom: 30px;
    }
}

#popup {
    background: hsla(0, 80%, 35%, 0.7);
    padding: 3px 10px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

#popup:hover {
    background: rgba(232, 46, 46, 0.9);
    cursor: pointer;
}

#popupTitle{
    font-weight: 400;
}

#popupInfectedCount {
    display: inline-block;
    font-size: 64px;
    line-height: 71px;
}

#popupInfectedTitle {
    display: inline-block;
}

#donate{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}
#donate > input[type="image"]{
    width: 50px;
    color: white;
}

@media screen and (max-width: 650px){
    #donate{
        top: unset;
        bottom: 120px;
        right: 10px;
    }
    #donate > input[type="image"]{
        width: 40px;
    }
}